<div id="content" class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>Welcome to the Treasure Data -&gt; SFDC demo</p>
		<p>Currently we have <%= @td_count %> records in our staging table and <%= @sfdc_count %> in our SFDC Sync table</p>
		<p>Do you want to <a href="/pull-from-td">load data from Treasure Data into the Staging Table</a>?</p>
		<p>Do you want to <a href="/put-into-sfdc">load data from the Staging Table in to the Heroku Connect table</a>?</p>
		<p>After you are done, you can <a href="/clean-staging">Clean up the staging table</a> and <a href="/clean-sfdc">Clean up the Heroku Connect table</a> (These deletes will get sycned to SFDC as well. Just keep in mind that you will need to empty your recycle bin as well!)</p>
</div>
</div>