<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/purple.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--	<script src="js/purple.js" type="text/javascript" charset="utf-8"></script> -->
	</head>
	<body>
		<header id="header" class="gradient-primary">
			<div class="container text-center">
				<div class="title">Treasure Data to SFDC Via Heroku Connect</div>
			</div>
		</header>
		<%= yield %>
	</body>
</html>
